# ============================
# Dependencies
# ============================
**/node_modules

# ============================
# Build Files
# ============================
**/dist

# ============================
# Environment Files
# ============================
**/.env

# ============================
# Log Files
# ============================
*.log
logs/

# ============================
# Operating System Files
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE Files
# ============================
.vscode/
.idea/